<?xml version="1.0" encoding="utf-8"?>
<configuration>
   
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="QLMService.QLMSyncService">
                <endpoint address="QLMService" binding="netTcpBinding" bindingConfiguration="" contract="QLMService.IQLMSyncService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8090" />
                        <add baseAddress="net.tcp://localhost:8092" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>